.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 50%;
    padding: 10px 30px;
    background-color: #eee;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
    margin: 4px 0;
    cursor: pointer;
    border: none;
    outline: none;
    box-sizing: border-box;
}
@media(max-width:599px) {
    input{
        width: 100%;
    }
}
.search-btn {
    background-color: #2ea44f;
    box-shadow: 0 1px 0 rgba(27, 31, 35, .1), inset 0 1px 0 hsla(0, 0%, 100%, .03);
    color: #fff;
}

.search-btn:hover {
    background-color: #2c974b;
}

.clear-btn {
    background-color: #cb2431;
    color: #fff;
    margin-bottom: 15px;
}

.clear-btn:hover {
    background-color: #b11f2b;

}