.alert {
    width: 50%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 8px;
}
@media(max-width:599px) {
    .alert {
        width: 100%;
    }
}

.alert-light {
    border: 1px solid #eee;
    padding: 15px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.Alert-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
}