.row {
    width: 100%;
    background-color: var(--main-color);
    margin-bottom: 8px;
}

.my-logo {
    padding: 8px 0;
}

.my-logo-title {

    padding: 0 0 0 8px;
    line-height: 48px;
    font-size: 18px;
    color: #eee;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width:699px) {

  .DesktopOnly{
      display: none;
  }
}



.menu {
    list-style: none;
    margin: 0;
}

.menu li {
   float: inherit;
}
 @media(min-width:699px) {

    .menu li {
        float: left;
    }
}

.menu li a {

    display: block;
    text-decoration: none;
    color: #eee;
    font-size: 18px;
    padding: 10px  0;
    margin: 0 15px;
    transition:all  .3s ease ;
    border-bottom: 2px solid transparent;
}
.menu li a:hover {
    border-bottom-color:  #fff;

}


.main-nav-active{
    border-bottom-color:  #fff !important;
}