.card-list {
    width: 100%;
}

.card-list li {
    background-color: white;
    padding: 1em;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;

}

.card-list li a {
    padding-left: 25px;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: var(--main-color);

}