.side-drawer {
    position: fixed;
    left: 0;
    top: 0;
    width: 70%;
    max-width: 400px;
    height: 100%;
    background-color: var(--main-color);
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    padding: 32px 16px;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: transform .3s ease-out;
    z-index: 99;
}

@media(min-width:699px) {
    .side-drawer {
        display: none;
    }
}

.side-drawer.open {
    transform: translateX(0) !important;
}

