
:root{
  --main-color:#24292E;

}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var( --main-color); 
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul{
  list-style: none;
  padding: 0;
}


.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;

}
@media (max-width:1200px){
  .container{
    width: 100%;
  }
}

.btn{
  display: inline-block;
  padding: 10px 30px;
  width: max-content;
  background: #fff;
  color: var( --main-color);
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #e1e4e8;
  font-weight: 500;
  transition: all .2s linear;
  box-sizing: content-box;
  outline: none;
}
.btn:hover{
  background-color: var( --main-color) ;
  color: #e1e4e8;
  border-color: var( --main-color);

}